flutter_android/
node_modules/
.DS_Store
*.pyc
__pycache__/
*.log
backend/downloads/
.env
dist/
build/
*.apk
*.aab
*.exe
*.spec
YoutubeDownloader.spec
/.venv/
/android/
/.vscode/
/downloads/
/VladPos_YT_Downloader/downloads/
